<!DOCTYPE html>
<html>

<head></head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
   {{> nav }}
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/javascripts/app.js"></script>
</body>

</html>