<div class="container welcome" id="welcome">
    {{> specials/pasadena }}
    <div class="list-content width">
        <h2>Pasadena TeaSpots Business Hours</h2>
        <img src="" alt="" />
        <ul class="pas-content">
            <li>Mon: 10:00 AM – 12:00 AM</li>
            <li>Tue: 10:00 AM – 12:00 AM</li>
            <li>Wed: 10:00 AM – 12:00 AM</li>
            <li>Thurs: 10:00 AM – 12:00 AM</li>
            <li>Fri: 10:00 AM – 12:00 AM</li>
            <li>Sat: 11:00 AM – 12:00 AM</li>
            <li>Sun: 11:00 AM – 12:00 AM</li>
        </ul>
        <div id="pasDirection" data-field="address">
            <a id="pasDirectionButton"
                href="https://www.google.com/maps/dir/Current+Location/Tea+Spots,+1443+E+Colorado+Blvd,+Pasadena,+CA+91106"
                target="_blank">Get directions</a>
            <address class="storeAdd " itemprop="address">
                <div>1443 East Colorado Boulevard</div>
                <div>Pasadena, CA 91106</div>
                <div>United States</div>
            </address>
        </div>
    </div>
    <div class="list-content width">
        <h2>West Covina TeaSpots Business Hours</h2>
        <img src="" alt="" />
        <ul class="pas-content">
            <li>Mon: 10:00 AM – 12:00 AM</li>
            <li>Tue: 10:00 AM – 12:00 AM</li>
            <li>Wed: 10:00 AM – 12:00 AM</li>
            <li>Thurs: 10:00 AM – 12:00 AM</li>
            <li>Fri: 10:00 AM – 12:00 AM</li>
            <li>Sat: 11:00 AM – 12:00 AM</li>
            <li>Sun: 11:00 AM – 12:00 AM</li>
        </ul>
        <div id="pasDirection" data-field="address">
            <a id="pasDirectionButton"
                href="https://www.google.com/maps/dir/Current+Location/Tea+Spots,+South+Azusa+Avenue,+West+Covina,+CA"
                target="_blank">Get directions</a>
            <address class="storeAdd " itemprop="address">
                <div>2540 S Azusa Ave</div>
                <div>West Covina, CA 91792</div>
                <div>United States</div>
            </address>
        </div>
    </div>
</div>