<div>
    <header>
        <p id="logoT">Tea</p>
        <p id="logoS">Spots</p>
    </header>
    <nav>
        <ul id="links">
            <li data-targetid="welcome">Welcome</li>
            <li data-targetid="menu" id="menuButton">Menu</li>
            <li data-targetid="locations">Locations</li>
        </ul>
    </nav>
</div>