<div class="container" id="menu">
    <div class="butt" id="buttonz">
        <button id="pas" data-targetid="teaPas">Pasadena</button>
        <button id="co" data-targetid="teaCo">WestCovina</button>
    </div>
    {{> menus/pasadenaMenu}}
    {{> menus/westCoMenu}}
</div>