<div class="container2" id="teaCo">
   <h1>West Covina</h1> 
<ul class="list">
    <li class="list-item">
        <div class="list-content">
            <h2>Title</h2>
            <img src="" alt="" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            </p>
            <a href="">Link</a>
        </div>
    </li>
    <li class="list-item">
        <div class="list-content">
            <h2>Title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            </p>
            <a href="">Link</a>
        </div>
    </li>
    <li class="list-item">
        <div class="list-content">
            <h2>Title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            </p>
            <a href="">Link</a>
        </div>
    </li>
</ul>
</div>

